@import "tailwindcss";

.active {
  @apply text-fuchsia-900 bg-gray-100 font-bold;
}

/* CSS pour l'animation fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

/* Style du spinner de chargement */
.spinner {
  border: 4px solid #f3f3f3; /* Couleur du fond */
  border-top: 4px solid #3498db; /* Couleur de l'animation */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
